*~
arena-project/brains/*
*.csv
arena-project/saved_stats/*
arena-project/build/*
arena-project/debug_build/*
.Rhistory
perf.*
arena-project/save/*
testing/*
run.log
arena-project/pure_train
arena-project/run_arena
simple-recursive-brain/run
res.png
simple-recursive-brain/build
